/* CSS layout to make the portfolio more eye catching */
html{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Monaco, sans-serif;
  background: linear-gradient(135deg, #402440, #5e3a5e, #402440, #5e3a5e, #402440, #5e3a5e);
}
html, body{
  min-height: 100%;
  margin: 0;
}

body {
  background-color: rgb(248, 225, 248) !important;
  padding: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

a {
  color: #00B7FF;
}

.top_nav{
  background-color: rgb(140, 31, 140) !important;
}
.nav-item{
  margin-right: 5px;
  font-weight: bold;
}
.nav-item:hover {
  transform: translate(2pz, -4px);
  background-color: rgb(116, 24, 116);
  color: white;
  font-style: oblique;
}

.nav-external{
  list-style: none;
}
.nav-image{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}


.header{
  background-color: #e6a7e6;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 20px;

}
.header > h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h3{
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: rgba(196, 195, 195, 0.744);
  /* blur affect - learned in CSS class */
  box-shadow: 3px 3px 10px 1px gray;
}

p, li{
  /* left align para text - fix */
  justify-content: left;
}


.card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}
.card-img-div{
  padding-top: 15px;
  width: 200px;
  height: auto;
}

.card-img-div img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-body li{
  list-style-type: none;
}
.card-body li a{
  text-decoration: none;
  color: black;
}
.card-body li a:hover{
  text-decoration: underline;
  color: rgb(72, 6, 57);
}