/* CSS layout to make the portfolio more eye catching */
html{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Monaco, sans-serif;
  background: linear-gradient(135deg, #402440, #5e3a5e, #402440, #5e3a5e, #402440, #5e3a5e);
}
html, body{
  height: auto;
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: rgb(248, 225, 248) !important;
  padding: 90px 10px 0px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

a {
  color: #00B7FF;
}

.top_nav{
  background-color: rgb(140, 31, 140) !important;
}
.nav-initials{
  margin-left: 10px;
  width:40px;
  height:40px;
  border-radius:50%;
  background:#540654;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 15px;
}
.nav-item{
  margin-right: 5px;
  font-weight: bold;
}
.nav-item:hover {
  transform: translate(2pz, -4px);
  background-color: rgb(116, 24, 116);
  color: white;
  font-style: oblique;
}

.nav-external{
  list-style: none;
}
.nav-image{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}


h1{
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

h2{
  min-width: 100%;
  margin-top: 20px;
  background-color: rgba(196, 195, 195, 0.744);
  /* blur affect - learned in CSS class */
  box-shadow: 3px 3px 10px 1px gray;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




/* Home Page */

.header{
  min-width: 100%;
  background-color: #e6a7e6;
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
}

.initials{
  width:150px;
  height:150px;
  border-radius:50%;
  background:#540654;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:3rem;
}
.header-text{
  width: 80%;
  margin-left: 20px;
}
.header-text > h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: start;
  justify-content: left;
  text-decoration: none;
}
.header-text > p > img{
  width: 20px;
  height: 20px;
}

p, li{
  /* left align para text - fix */
  margin-top: 20px;
  justify-content: left;
}
main{
  width: 75%;
}
.index-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
}
.index-nav p{
  margin: 0 10px 0 10px;
}
.index-nav a{
  text-decoration: none;
  color: #540654;
}
.index-nav a:hover{
  color: #690a69;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.362);
}
.index-skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}
.index-skills div{
  width: 50%;
}





/* About Page */
.about-me-p{
  width: 65%;
}
.container-about{
  margin-bottom: 50px;
}




/* Project paeg */

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
}
.card-img-div{
  padding-top: 15px;
  width: 200px;
  height: auto;
}

.card-img-div img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-body li{
  list-style-type: none;
}
.card-body li a{
  text-decoration: none;
  color: black;
}
.card-body li a:hover{
  text-decoration: underline;
  color: rgb(72, 6, 57);
}




/* Contact Page */

.container-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-contact p{
  font-size: 15px;
  text-decoration: underline;
}

.container-contact img{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.container-contact img:hover{
  width: 40px;
  height: 40px;
  background-color: #e6a7e6;
}


/* bottom line of page */
.bottom-line{
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Botoom nav */
.footer{
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;
  background-color: #653065;
  color: white;
  width: 1520px;
  align-items:center;
  justify-content:center;
}
.footer-initials{
  margin-left: 10px;
  width:80px;
  height:80px;
  border-radius:50%;
  background:#872087;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 30px;
}

.footer h6{
  color: white;
}
.footer div{
  display: flex;
  flex-direction: column;
  margin-left: 300px;

}
.footer div a{
  color: white;
  text-decoration: none;
}
.footer div a:hover{
  transform: translate(2pz, -4px);
  background-color: rgb(116, 24, 116);
  color: white;
  font-style: oblique; 
}