
html,
body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
} 


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(249, 229, 247) !important;
  padding-top: 70px;
  box-sizing: border-box;
}
h1{
  margin-bottom: 20px;
}

/* logo */
.nav-logo-top-nav{
  margin-left: 15px;
  width: 43px;
  height: 43px;
}
.bottom-nav > div:first-child{
  margin: 0px;
  padding-left: 100px;
}
.nav-logo-bottom-nav{
  margin-left: 15px;
  width: 106px;
  height: 106px;
  /* border-radius: 10px;
  background-color: rgb(255, 255, 255); */
}

/* Ttop nav */
.top_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(237, 167, 232);
}

/* all language links */
.collapse > ul:nth-child(2) > a,
.lang-nav ul a{
  text-decoration: none !important;
  color: black;
  margin-right: 10px;
}
.collapse > ul:nth-child(2) > a:hover,
.lang-nav ul a:hover{
  text-decoration: none !important;
  color: rgb(102, 36, 90);
  font-weight: 500;
}
.lang-flag{
  width: 20px;
  height: 20px;
}


/* Bottom nav */
.bottom-nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(220, 142, 215);
  width: 100%;
  padding-top: 15px 0;
  margin-top: auto;
}
.bottom-nav > div:first-of-type{
    width: 100px;
  }
h6{
  padding-left: 25px;
}
.bottom-nav ul{
  list-style-type: none;
}
.lang-nav ul{
  display: flex;
  flex-direction: column;
}



/* Login / Register */
.auth-form-row{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.authLabel{
  width: 180px;
  text-align: left;
  margin-right: 15px;
}
.authLabel + input{
  width: 200px;
}
/* buttons on log and reg screen */
.auth-form-row:last-child{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.auth-form-row:last-child .btn{
  margin-bottom: 10px;
  border: 2px solid #b912bf;
  background-color: #b912bf7c;
}
.auth-form-row:last-child .btn:hover{
  border: 2px solid #810c79;
  background-color: #cc0fb99d;
}


/* user login msg - if auto login pop-up doesnt work */
.login-userMsg{
  text-align: center;
}
.login-userMsg a{
  text-decoration: none;
  /* animated text: https://www.youtube.com/watch?v=2Oe1hzwVKbA -- forgot how to do*/
  background: linear-gradient(
    90deg,
    rgb(197, 55, 3), 
    rgb(136, 132, 136), 
    green);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500% 500%;
  animation: gradient-animation 6s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






/* Home */



/* Categories */
.nav-cat{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.nav-cat a{
  border: 2px solid black;
  padding: 80px;
  margin: 30px 30px;
  text-decoration: none;
  color: black;
  font-size: 40px;
  border-radius: 50%;
}
.nav-cat a:hover{
  background-color: rgba(128, 128, 128, 0.134);
}


/* CRUD */

/* Add  */
/* add btn on word,phrase, and all page */
.addBtn{
  text-decoration: none;
  border: 2px solid rgb(180, 127, 215);
  border-radius: 25%;
  padding: 5px;
  color: black;
  background-color: rgba(223, 175, 255, 0.504);
}
.addBtn:hover{
  color: rgb(6, 6, 6);
  border-color: rgb(160, 113, 192);
  background-color: rgba(223, 175, 255, 0.745);
}



/* All / Words / Phrases table layout */
table{
  margin-top: 30px;
  border: 1px solid black;
}
thead tr th{
  background-color: rgba(223, 175, 255, 0.745) !important;
  border: 1px solid rgb(63, 63, 63);
  text-align: center;
}
tbody tr td{
  border-left: 1px solid rgb(63, 63, 63);
}
/* last stored translation in order has a bottom border */
tbody tr:last-child{
  border-bottom: 1px solid rgb(63, 63, 63);
}

.actBtn{
  text-decoration: none;
  color: rgb(132, 86, 125);
  margin-right: 10px;
}
.actBtn:hover{
  color: rgb(99, 58, 90);
  text-decoration: underline;
}


/* About */
.aboutDiv{
  margin: 20px 50px;
}

/* Contact */
.contactForm{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(249, 249, 244);
  border-radius: 10px;
  padding: 30px 90px;
  margin-bottom: 40px;
}
#firstName, #email{
  margin-right: 20px;
}
.dblColumnSpaced{
  grid-column: span 2;
}
.contactForm textarea{
  height: 300px;
}






/* Code for when user makes screen smaller */
@media screen and (max-width: 767.5px) {
  body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 100px; 
  }
  /* hamburger menu */
  .top_nav{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  /* user not signed in */
  .login-userMsg{
    margin-top: 30px;
  }
  /* logos */
  .nav-logo-top-nav{
    margin: 0;
  }
  .bottom-nav{
    padding-top: 10px;
  }
  .bottom-nav > div:first-of-type{
    padding-left: 0px;
  }
  .nav-logo-bottom-nav{
    margin: 0;
  }
  /* top nav */
  #mainNavbar{
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(245, 186, 242);
    border-radius: 15px;
  }
  /* category */
  .category-h1{
    margin-top: 280px;
  }
  /* all */
  .all-h1{
    margin-top: 20px;
  }
  /* bottom nav */
  .bottom-nav > div:first-of-type{
    width: 80px;
    margin: 10px;
  }
  /* category layout */
  .nav-cat{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-cat a{
    padding: 40px;
    margin: 10px;
  }
  /* add layout */
  .h1-add{
    padding-top: 160px;
  }
}

/* Mobile */
@media screen and (max-width: 300px) {
  body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 200px; 
  }
  /* hamburger menu */
  .top_nav{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  /* user not signed in */
  .login-userMsg{
    margin-top: 30px;
  }
  /* logos */
  .nav-logo-top-nav{
    margin: 0;
  }
  /* top nav */
  #mainNavbar{
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(245, 186, 242);
    border-radius: 15px;
  }
  /* bottom nav */
  .bottom-nav > div:first-of-type{
    width: 80px;
    margin: 10px;
  }
  /* category layout */
  .nav-cat{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-cat a{
    padding: 40px;
    margin: 10px;
  }
  /* add layout */
  .h1-add{
    padding-top: 160px;
  }
}